<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="https://github.com/flare-kcl/flare-portal" class="btn btn-outline-primary btn-sm" target="_blank" rel="noreferrer noopener">Source code</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                <a href="{% url 'participant_terms_and_conditions' %}" class="btn btn-outline-primary btn-sm mr-1" target="_blank" rel="noreferrer noopener">Participant T&Cs</a>
                <a href="{% url 'researcher_terms_and_conditions' %}" class="btn btn-outline-primary btn-sm mr-1" target="_blank" rel="noreferrer noopener">Researcher T&Cs</a>
                <a href="{% url 'participant_privacy_policy' %}" class="btn btn-outline-primary btn-sm mr-1" target="_blank" rel="noreferrer noopener">Participant Privacy Policy</a>
                <a href="{% url 'researcher_privacy_policy' %}" class="btn btn-outline-primary btn-sm mr-1" target="_blank" rel="noreferrer noopener">Researcher Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
