<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="https://github.com/flare-kcl/flare-portal" class="btn btn-outline-primary btn-sm" target="_blank" rel="noreferrer noopener">Source code</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                FLARe Portal
            </div>
        </div>
    </div>
</footer>
