{% load util_tags widget_tweaks %}

{% with show_required=show_required|default:"show" show_label=show_label|default:"show" %}
    {% if field|widget_type == 'hiddeninput' %}
        {{ field }}
    {% else %}
        <div class="form-group">
            {% if show_label == "show" and field|widget_type != 'checkboxinput' %}
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if show_required == "show" and field.field.required %}
                        <span class="form-required">*</span>
                    {% endif %}
                </label>
            {% endif %}

            {% if field|widget_type == 'horizontalcheckboxselectmultiple' %}
                {{ field|add_error_class:"is-invalid" }}
            {% elif field|widget_type == 'checkboxinput' %}
                <label class="custom-switch">
                    {{ field|add_class:"custom-switch-input" }}
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">{{ field.label }}</span>
                </label>
            {% elif field|widget_type == 'select' %}
                {{ field|add_class:"form-control custom-select"|add_error_class:"is-invalid"|attr:"data-selectize" }}
            {% elif field|widget_type == 'textarea' %}
                {{ field|add_class:"form-control"|add_error_class:"is-invalid"|attr:"rows:3" }}
            {% elif field|widget_type == 'clearablefileinput' %}
                <div class="form-group{% if field.errors %} has-errors{% endif %}">
                    <div class="row gutter-xs">
                        <div class="col-8">
                            <div class="custom-file" x-data="fileInput()">
                                <input type="file" name="{{ field.name }}"{% if accept %} accept="{{ accept }}"{% endif %} x-on:change="handleChange" class="custom-file-input{% if field.errors %} is-invalid{% endif %}" id="{{ field.id_for_label }}" style="display: none;">
                                <label class="custom-file-label" for="{{ field.id_for_label }}" x-text="text">Choose file</label>
                            </div>
                            {% if field.value and field.value.url %}
                                Currently: <a href="{{ field.value.url }}" target="_blank">{{ field.value|filename }}</a>
                            {% endif %}
                        </div>
                        {% if field.value and not field.field.required %}
                            <div class="col-4">
                                <label class="custom-control custom-checkbox" for="{{ field.name }}-clear_id">
                                    <input class="custom-control-input" type="checkbox" name="{{ field.name }}-clear" id="{{ field.name }}-clear_id">
                                    <span class="custom-control-label">Clear</span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {{ field|add_class:"form-control"|add_error_class:"is-invalid" }}
            {% endif %}

            {% if field.help_text %}
                <div class="mt-2 text-muted"><small>{{ field.help_text }}</small></div>
            {% endif %}

            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
