{% load widget_tweaks %}
{% with show_required=show_required|default:"show" show_label=show_label|default:"show" %}
    {% if field|widget_type == 'hiddeninput' %}
        {{ field }}
    {% else %}
        <div class="form-group">
            {% if show_label == "show" and field|widget_type != 'checkboxinput' %}
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if show_required == "show" and field.field.required %}
                        <span class="form-required">*</span>
                    {% endif %}
                </label>
            {% endif %}

            {% if field|widget_type == 'horizontalcheckboxselectmultiple' %}
                {{ field|add_error_class:"is-invalid" }}
            {% elif field|widget_type == 'checkboxinput' %}
                <label class="custom-switch {% if field.help_text %}custom-switch--with-description{% endif %}">
                    {{ field|add_class:"custom-switch-input" }}
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">{{ field.label }}</span>

                    {% if field.help_text %}
                        <p class="custom-switch-description">{{ field.help_text }}</p>
                    {% endif %}
                </label>
            {% elif field|widget_type == 'select' %}
                {{ field|add_class:"form-control custom-select"|add_error_class:"is-invalid"|attr:"data-selectize" }}
            {% elif field|widget_type == 'textarea' %}
                {% with help_text_attr="placeholder:"|add:field.help_text %}
                    {{ field|add_class:"form-control"|add_error_class:"is-invalid"|attr:help_text_attr|attr:"rows:3" }}
                {% endwith %}
            {% else %}
                {% with help_text_attr="placeholder:"|add:field.help_text %}
                    {{ field|add_class:"form-control"|add_error_class:"is-invalid"|attr:help_text_attr }}
                {% endwith %}
            {% endif %}

            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
