{% load widget_tweaks %}
<div class="form-group">
    {% if field|widget_type != 'checkboxinput' %}
        {{ field|add_label_class:"form-label" }}
    {% endif %}

    {% if field|widget_type == 'horizontalcheckboxselectmultiple' %}
        {{ field|add_error_class:"is-invalid" }}
    {% elif field|widget_type == 'checkboxinput' %}
        <label class="custom-switch">
            {{ field|add_class:"custom-switch-input" }}
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">{{ field.label }}</span>
        </label>
    {% else %}
        {% with help_text_attr="placeholder:"|add:field.help_text %}
            {{ field|add_class:"form-control"|add_error_class:"is-invalid"|attr:help_text_attr }}
        {% endwith %}
    {% endif %}

    {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
