{% for message in messages %}
    <div class="alert alert-icon alert-{{ message.tags }}" role="alert">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}<i class="fe fe-activity mr-2" aria-hidden="true"></i>{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<i class="fe fe-bell mr-2" aria-hidden="true"></i>{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<i class="fe fe-check mr-2" aria-hidden="true"></i>{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<i class="fe fe-alert-octagon mr-2" aria-hidden="true"></i>{% endif %}

        {{ message }}
    </div>
{% endfor %}
