{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Users</h1>
            <div class="page-subtitle">1 - 20 of 1713 users</div>
            <div class="page-options d-flex">
                <select class="form-control custom-select w-auto">
                    <option value="asc">Newest</option>
                    <option value="desc">Oldest</option>
                </select>
            </div>
        </div>
    </div>
{% endblock content %}
